# folders
# =======
dist/
bower_components/
node_modules/

# dot files
# =========
.*.swp
._*
.DS_Store
.git
.lock-wscript
.svn

# file extensions
# ===============
*.db  # ex: Thumbs.db
*.log # ex: npm-debug.log
*.map
*.orig
*.sublime*
*.tmp

# files (project specific)
# ========================
/src/client/libs/analytics-service/
/src/client/libs/browser-service/
/src/client/libs/app-info-helper
